.FullPost {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.ButtonGroup Button {
    width: 15%;
}

.ButtonGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Edit label {
    display: block;
    color: grey;
}

.Edit button {
    margin: 10px;
}

.Edit button:hover,
.Edit button:active {
    color: #521751;
}

.Edit button.Delete {
    color: red;
}

.Edit button.Delete:hover,
.Edit button.Delete:active {
    color: darkred;
}